/*****
FONTS
*****/
@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url();
}

:root {
    --clr-text: #5a5a5a;
    --clr-primary: #067e0a;
    --clr-accent:#764981;

    --ff-title: "Geneva", sans-serif;
    --ff-sans: "Verdana", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-sans);
    color: var(--clr-text);
}

