/*****
FONTS
*****/
@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    src: url();
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}