/*
*{
    margin: 0px;
    padding: 0px;
}
*/
header{
    position: sticky;
    width: 100%;
    /*left: 0px;
    bottom: 100;
    width: 100%;*/
    margin-top: -10px;
    padding-top: 10px;
    background-color: teal;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    background-color: teal;
    color: white;
    text-decoration: none;
    padding: 10px;
}
h1,h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    float:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 200px;
}
aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: lightslategray;
}
#sucursales{
    overflow: auto;
    padding-bottom: 100px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}